.container-formulario {
  margin-left: 40vh;
}

.input-nome-produto {
  width: 60vh;
  height: 5vh;
  border-radius: 0.7vh;
  border-width: 0.2vh;
  margin-top: 1vh;
  padding: 1vh;
}

.textarea {
  width: 60vh;
  height: 25vh;
  margin-top: 1vh;
  border-radius: 0.7vh;
  border-width: 0.2vh;
  padding: 1vh;
}

.dados-cadastro {
  margin-left: 4vh;
  margin-top: 3vh;
}

.select {
  width: 60vh;
  height: 5vh;
  margin-top: 1vh;
  border-radius: 0.7vh;
  border-width: 0.2vh;
}

.titulo-pagina-novo-produto {
  margin-top: 5vh;
  margin-left: 7vh;
}

.titulo-topo-pagina {
  font-size: 4vh;
  font-weight: bold;
}

.container-das-imagens {
  width: 70vh;
  height: 50vh;
  margin-left: 7vh;
}

.container-cadastro-produto {
  /*campo responsável pela cor branca de todo o cadastro do produto*/
  margin-left: 7vh;
  margin-top: 2vh;
  width: 146vh;
  height: 120vh;
  background-color: white;
  display: flex;
}

/* Esconde totalmente o input file */
.input-escondido {
  display: none;
}

/* Torna a área da roupa clicável */
.foto-roupa {
  border-radius: 0.7vh;
  border: 1px solid #ccc;
  margin-top: 7vh;
  text-align: center;
  cursor: pointer;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.foto-roupa:hover {
  background-color: #f5f5f5;
}

/* Ajuste do SVG */
.foto-roupa svg {
  width: 10vh;
  height: 10vh;
  pointer-events: none; /* evita que o SVG bloqueie o clique */
  color: rgba(63, 91, 203, 1);
}

.container-texto-galeria {
  margin-top: 3vh;
}

.galeria-produto {
  padding: 10vh;
  border: 2px dashed #bdbdbd; /* tracejado + cor cinza clara */
  border-radius: 6px; /* bordas arredondadas */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.botoes-adicionar-cancelar {
  margin-top: 3vh;
}

.botao-adicionar,
.botao-cancelar {
  border: none;
  color: white;
  margin-right: 1vh;
  padding: 2vh 12vh;
  border-radius: 1vh;
  cursor: pointer;
}

.botao-adicionar {
  background-color: rgba(35, 35, 33, 1);
}

.botao-cancelar {
  border: solid;
  border-color: rgba(35, 35, 33, 1);
  border-width: 0.3vh;
  color: rgba(35, 35, 33, 1);
}
